  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='/font/fonts.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/print.css" media="print" />

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <meta name="keywords" content="Tianyi Hao,郝天一,SlowRenju,Gomoku AI" />
    <meta name="description" content="Homepage of Tianyi Hao" />
    <meta name="author" content="Tianyi Hao" />
    <meta name="copyright" content="2014 Tianyi Hao" />

    <title> {% if page.title %}{{ page.title }} - {{ site.name }}{% else %}{{ site.name }}{% endif %} </title>

    <script type="text/javascript">
      var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
      document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Ff570e1ddf8443a5cf3aa1d202d76f5a0' type='text/javascript'%3E%3C/script%3E"));
    </script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-QPB8RLXDDT"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-QPB8RLXDDT');
    </script>

  </head>
